* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}



/* Cabeçalho */

header {
display: flex;
justify-content: space-between ;
align-items: center;
}

.logo {
    display:flex;
    align-items: center;

}

#logo-img {
    width: 300px;
    margin-right: 30px;
}

/* resposinvo */

@media screen and (min-device-width: 1025px) and (max-device-width:1300px) {
   #logo-img{
       width: 200px;
       margin-right: 15px;
   } 
}



/*-------------*/

nav a {
font-size: 25px;
text-decoration: none;
color:#51260e;
margin-right: 30px;
padding: 5px;
}

/* resposinvo */

@media screen and (min-device-width: 1025px) and (max-device-width:1300px) {
    nav a{
        font-size: 15px;
        margin-right: 15px;
    }
}

/*-------------*/

nav a:hover {
    color:#58331b;
    background-color: #ac9689b0;
    
}

.entrar {
    margin-right: 100px;
}

.entrar a {
font-size: 30px;
text-decoration: none;
color:rgb(86, 29, 29);
margin-right: 30px;
padding: 8px 40px;
background-color:#ac9689b0;
border-radius: 8px;
}

.entrar a:hover {
    color:#58331b;
    background-color: #ac9689b0;
}

/* resposinvo */

@media screen and (min-device-width: 1025px) and (max-device-width:1300px) {
    .entrar {
        margin-right: 50px;
    }
    
    .entrar a {
    font-size: 20px;
    padding: 8px 20px; 
    }
    
}

/*-------------*/

/* main */



.slogan {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    padding-top: 60px;
    
}

/* resposinvo */

@media screen and (min-device-width: 1025px) and (max-device-width:1300px) {
    .slogan {
        font-size: 20px;
        padding-top: 5px;
        
    }
}

/*-------------*/

.pesquisar {
display: flex;
align-items: center;
justify-content: space-between;
margin: 40px auto;
width: 600px;
height: 45px;
border-radius: 10px;
}

/* resposinvo */

@media screen and (min-device-width: 1025px) and (max-device-width:1300px) {
    .pesquisar {
        margin: 40px auto;
        width: 475px;
        height: 25px;
        border-radius: 10px;
        
        }
}

/*-------------*/

.pesquisar img {
    width: 20px;
    margin-right: 10px;
    margin-left: 8px;
}

/* resposinvo */

@media screen and (min-device-width: 1025px) and (max-device-width:1300px) {
   .pesquisar img{
       width: 13px;
   }
}

/*-------------*/

#barra-de-pesquisa {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 5px;
    font-weight: bolder;
    font-size: 20px;
    
}

#bt-pesquisa {
    font-size: 15px;
    color:rgb(86, 29, 29);
    padding: 8px 10px;
    background-color:#ac9689b0;
    height: 100%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.caixa-de-pesquisa{
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    padding: 10px;
   }

/* resposinvo */

@media screen and (min-device-width: 1025px) and (max-device-width:1300px) {
   #bt-pesquisa{
    font-size: 12px;
    padding: 0px 10px;
   }
   .caixa-de-pesquisa{
    width: 100%;
    padding: 3px;
   }

   #barra-de-pesquisa{
    font-size: 15px;
   }
}

/*-------------*/

/* mercado e restaurante - mr */

.m-r {
    display: flex;
    width: 900px;
    margin: 40px auto;
}

/* resposinvo */

@media screen and (min-device-width:1025px) and (max-device-width:1300px) {
    .m-r{
        width: 570px;
    }
}

/*-------------*/

.restaurantes {
    display: flex;
    margin: 40px auto;
    width: 400px;
    
}

/* resposinvo */

@media screen and (min-device-width:1025px) and (max-device-width:1300px) {
 .restaurantes {
    width: 250px;
 }   
}

/*-------------*/

.restaurantes img {
    width: 400px;
    border-radius: 30px;
    box-shadow: 1px 1px 3px  black;
}

/* resposinvo */

@media screen and (min-device-width:1025px) and (max-device-width:1300px) {
    .restaurantes img{
        width: 250px;
    }
}

/*-------------*/

.restaurantes h1 {
    position:absolute;
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 15px;
    text-shadow: 0.1em 0.1em 0.1em black;
}

/* resposinvo */

@media screen and (min-device-width:1025px) and (max-device-width:1300px) {
    .restaurantes h1{
        font-size: 27px;
    }
}

/*-------------*/

.link-res {
    position: absolute;
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 150px;
    text-shadow: 0.1em 0.1em 0.1em black;
}

/* resposinvo */

@media screen and (min-device-width:1025px) and (max-device-width:1300px) {
    .link-res {
        font-size: 20px;
        margin-left: 18px;
        margin-top: 100px;
    }
}

/*-------------*/

.parceiros {
background-color: #cab3a4;
margin-top: 70px;
}


.slogan-parceiros {
    margin-left: 330px;
    margin-top: 45px;
    font-size: 25px;
    padding-top: 20px;

}

/* resposinvo */

@media screen and (min-device-width:1025px) and (max-device-width:1300px) {
   .slogan-parceiros{
    margin-left: 215px;
    font-size: 15px;
   }
}

/*-------------*/

.slogan-parceiros h1 {
    margin-bottom: 5px;
    
}

.buscar-parceiro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 330px;
    height: 25px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 1px 1px 3px black;
}

/* resposinvo */

@media screen and (min-device-width:1025px) and (max-device-width:1300px) {
    .buscar-parceiro{
        width: 400px;
        padding: 5px;
        border-radius: 15px;
        margin-left: 215px;
        height: 15px;
    }
 }
 
/*-------------*/

.buscar-parceiro button {
    border: none;
    outline: none;
    box-shadow: 0 0 0 0 ;
    background-color: none;
}


.caixa-de-pesquisa-parceiro {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

}

.caixa-de-pesquisa-parceiro img {
    width: 20px;

}

/* resposinvo */

@media screen and (min-device-width:1025px) and (max-device-width:1300px) {
    .caixa-de-pesquisa-parceiro img{
        width: 13px;
        margin-left: 5px;
    }
 }
 
/*-------------*/

#img-bt {
    width: 20px;
    border: none;
    
}

/* resposinvo */

@media screen and (min-device-width:1025px) and (max-device-width:1300px) {
    #img-bt{
        width: 13px;
        margin-right: 5px;
    }
 }
 
/*-------------*/

#barra-de-pesquisa-parceiro {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    font-weight: bolder;
    font-size: 20px;
}

/* resposinvo */

@media screen and (min-device-width:1025px) and (max-device-width:1300px) {
    #barra-de-pesquisa-parceiro{
        padding-left: 10px;
        font-size: 15px;
    }
 }
 
/*-------------*/







.tabela-vagas {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    font-weight: bolder;
    font-size: 20px;
}

/* tabela vagas */

.tabela-vagas{
    margin-left: 200px;
    margin-top: 35px; 
    font-size: 15px;
    width: 800px;
    padding-bottom: 50px;
}

#tabela{
    width: 100%;
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    background-color: #b49a89;
    border-radius: 15px;
    box-shadow: 1px 1px 8px black;
}

#tabela th{
   padding-right: 50px;
   padding-bottom: 5px;
   padding-left: 5px;
}

#tabela td{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
}

#tabela tr:hover {
 cursor: pointer;
 background-color: #cab3a4;
 align-items: center;
}


/* canais */

.canais{
    text-align: center;
    margin-top: 15px;
}

.canais-slogan h1{
    margin-bottom: 25px;
}

.canais-slogan p{
    margin-bottom: 100px;
}

/* redes */

.redes{
    width: 750px;
    margin: 25px auto;
    gap: 30px;
    display: grid;
    grid-template-columns: 240px 240px 240px;
}

.redes-icones {
    display: flex;
    padding: 20px;
    box-shadow: 1px 1px 8px rgb(182, 182, 182);
    align-items: center;
}

.redes-icones img {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.link-redes a{
    text-decoration: none;
    color: black;
}

.link-redes h1{
    font-size: 18px;
    margin-bottom: 10px;
}

.link-redes p{
    font-size: 14px;
}

footer{
    font-size: 10px;
    text-align: center;
    margin:40px 0 20px 0;
}